.week-view {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid var(--dark);
  margin-left: var(--space-md);
}

.row-header {
  display: flex;
  flex: 1;
  position: relative;
}

.day-name {
  flex: 1;
  text-align: center;
}

.day-number {
  position: absolute;
  left: var(--space-sm);
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-number-current-day {
  padding: 2px;
  background-color: var(--primary);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 5px;
  color: var(--off-white);
}

.day-name-current-day {
  color: var(--primary);
}

.body {
  display: flex;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.time-indicator {
  width: var(--space-md);
}

.time-indicator .unit {
  height: calc(100% / 8);
  position: relative;
}

.time-indicator .unit span {
  position: absolute;
  transform: translateY(-50%);
  top: 0;
  right: 2.5px;
}

.time-indicator .unit:first-child {
  visibility: hidden;
}

.main {
  display: flex;
  position: relative;
  background-color: var(--off-white);
  flex: 1;
}

.day-column {
  flex: 1;
  position: relative;
}

.slot {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark);
  height: calc(100% / 8);
}

.slot .first-half,
.slot .second-half {
  flex: 1;
}

.slot .first-half {
  border-bottom: 1px solid var(--dark);
}

.slot .second-half {
}
