.week-view {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid var(--dark);
  background-color: var(--gray);
}

.header .spacer {
  width: var(--space-md);
}

.row-header {
  display: flex;
  flex: 1;
}

.day-name {
  flex: 1;
  text-align: center;
}

.day-number-current-day {
  color: var(--primary);
}

.day-name-current-day {
  color: var(--primary);
}

.body {
  display: flex;
  overflow-y: scroll;
}

.time-indicator {
  width: var(--space-md);
}

.time-indicator .unit {
  height: 50px;
}

.main {
  display: flex;
  background-color: var(--off-white);
  flex: 1;
}

.day-column {
  flex: 1;
  position: relative;
}

.slot {
  border: 1px solid var(--dark);
  height: 50px;
}
