*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--dark);
  background-color: var(--off-white);
  margin: 0;
}

h1 {
  color: var(--dark);
  font-size: var(--font-size-lg);
}

p {
  font-size: var(--font-size-md);
}

p,
article,
section {
  line-height: 1.5;
}

:focus {
  outline: 0.15rem dashed var(--dark);
  outline-offset: 0.25rem;
}
main:focus {
  outline: none;
}

img {
  max-width: 100%;
}

.background-customizable {
  background-color: green;
}

a {
  color: var(--link-color);
}
